@font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Iceland-Regular.woff") format("woff");
}