.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 1240px;
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
}

.ingredients {
    color: #f2f2f3;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.constructor {
    width: 600px;
    color: #f2f2f3;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}