.root {

}

.row {
    margin-bottom: 60px;
}

.row.numbersRow {
    display: flex;
    justify-content: space-between;
}

.count {
    font-family: 'Iceland', Arial, sans-serif;
    font-size: 144px;
    line-height: 120px;
    color: #F2F2F3;
    text-shadow:
            0 0 16px rgba(51, 51, 255, 0.25),
            0 0 8px rgba(51, 51, 255, 0.25),
            0 4px 32px rgba(51, 51, 255, 0.5);
}

.numberTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

.numbersList {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    display: grid;
    gap: 8px;
    grid-template-rows: repeat(10, 24px);
    grid-auto-flow: column;
    justify-content: start;
}

.numbersList li {
    font-family: 'Iceland', Arial, sans-serif;
    font-size: 28px;
    line-height: 24px;
    color: #00CCCC;
}

.numbersList li:not(:last-child) {
    margin-bottom: 8px;
}